<div class="ui-g">

    <div class="ui-g-12">
        <h1>{{ tituloCasos }}</h1>

        {{ dados.confirmados.total }}


        <!-- <p-table [responsive]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>Total</th>
                    <th>Novos</th>
                    <th>Incidência</th>
                    <th>Recuperados</th>
                    <th>Acompanhamento</th>
                    <th>Percentual</th>
                </tr>

            </ng-template>

            <ng-template pTemplate="body">
                <div *ngIf="qualquer">
                    <tr>
                        <td>{{ dados.confirmados.total }}</td>
                        <td>{{ dados.confirmados.novos }}</td>
                        <td>{{ dados.confirmados.incidencia }}</td>
                        <td>{{ dados.confirmados.recuperados }}</td>
                        <td>{{ dados.confirmados.acompanhamento }}</td>
                        <td>{{ dados.confirmados.percent }}</td>
                    </tr>
                </div>

            </ng-template>

        </p-table>

        <h1>{{ tituloObitos }}</h1>

        <p-table [responsive]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>Total</th>
                    <th>Titulo</th>
                    <th>Novos</th>
                    <th>Incidencia</th>
                    <th>Letalidade</th>
                    <th>Mortalidade</th>
                    <th>Percentual</th>
                </tr>

            </ng-template>

            <ng-template pTemplate="body">

                <tr>
                    <td>{{ dados.obitos.total }}</td>
                    <td>{{ dados.obitos.novos }}</td>
                    <td>{{ dados.obitos.incidencia }}</td>
                    <td>{{ dados.obitos.letalidade }}</td>
                    <td>{{ dados.obitos.mortalidade }}</td>
                    <td>{{ dados.obitos.percent }}</td>
                </tr>


            </ng-template>

        </p-table> -->

        <ul>
            <li>
                {{dados.confirmados.total}}
            </li>
            <li>
                {{dados.confirmados.novos}}
            </li>
        </ul>


        <div class="ui-g">
            <div class="ui-g-12">
                <button pButton type="button" label="Atualizar" (click)="atualizar()"></button>
            </div>
        </div>


    </div>

</div>